<div class="search-container">
  <h2>Calculate Tokens</h2>
  <div class="input-container">
    <textarea placeholder="Enter search text" [(ngModel)]="searchText" rows="7"></textarea>
  </div>
  <div>
    <label for="tokenizerGroupDropdown">Select Tokenizer Type:</label>
    <select
      id="tokenizerGroupDropdown"
      [(ngModel)]="selectedTokenizer"
      (change)="onTokenizerGroupSelect()">
      <option *ngFor="let group of tokenizers" [value]="group">
        {{ group }}
      </option>
    </select>
  </div>
  <div *ngIf="selectedTokenizer">
    <!-- Dropdown to select Key from the selected Tokenizer Group -->

    <label for="keyDropdown">Select Encoding:</label>
    <select id="keyDropdown" [(ngModel)]="selectedEncoding" >
      <option *ngFor="let key of tokenizerKeys" [value]="key">{{ key }}</option>
    </select>
  </div>

  <button (click)="onSearch()">{{search}}</button>

  <div
    *ngIf="responseMessage"
    [ngClass]="{ success: isSuccess, error: !isSuccess }"
  >
    {{ responseMessage }}
  </div>
</div>
